.parent {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header {
	padding-left: 1em;
	padding-right: 1em;
	display: flex;
	flex-direction: column;
}

.header .date-title {
	justify-self: center;
	align-self: center;
}

.sub-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container .category-section {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.18);
	width: 50%;
	display: flex;
	flex-direction: column;
	padding: 1em;
	margin-bottom: 1em;
}

.button {
	width: fit-content;
	height: 3rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 1rem;
	font-weight: bold;
	border: none;
	background-color: rgba(0, 170, 255, 0.5);
	cursor: pointer;
	transition: background-color 0.15s ease-in-out;
	border-radius: 1em;
}
.button:hover {
	background-color: rgb(0, 170, 255);
}

/* Styles for small screens (mobile) */
@media (max-width: 480px) {
	.container .category-section {
		width: 95%;
	}

	.sub-header {
		flex-direction: column;
	}
}

/* Styles for medium screens (tablets) */
@media (min-width: 481px) and (max-width: 768px) {
	.container .category-section {
		width: 85%;
	}
}

/* Styles for large screens (desktops) */
@media (min-width: 769px) {
}
