.new-budget-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 30em;
	width: 20%;
	background: linear-gradient(#0014f366, #0095ff6c);
	border-radius: 2em;
}

.new-budget-title {
	text-align: center;
	margin-bottom: 2em;
}

.new-budget-date-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2em;
	width: 65%;
}

.new-budget-select-container {
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
}

.form-input {
	height: 2rem;
	width: 10rem;
	margin-left: 1em;
	margin-right: 1em;
	border: none;
	background-color: none;
	background: none;
	border-bottom: solid 1px rgb(0, 38, 255);
}

.form-input:focus {
	outline: none;
}

.new-budget-create-button {
	width: 45%;
	height: 3rem;
	font-size: 1rem;
	font-weight: bold;
	border: none;
	background-color: rgba(0, 170, 255, 0.5);
	cursor: pointer;
	transition: background-color 0.15s ease-in-out;
	border-radius: 1em;
}

.new-budget-create-button:hover {
	background-color: rgb(0, 170, 255);
}

/* Styles for small screens (mobile) */
@media (max-width: 480px) {
	.new-budget-container {
		width: 95%;
	}
}

/* Styles for medium screens (tablets) */
@media (min-width: 481px) and (max-width: 768px) {
	.new-budget-container {
		width: 75%;
	}
}

/* Styles for large screens (desktops) */
@media (min-width: 769px) {
	.new-budget-container {
		width: 30%;
	}
}
