.dashboard-title {
	padding-left: 10px;
}

.central-dashboard {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.right-dashboard {
	display: flex;
	flex-direction: column;
	width: 25%;
}

/* Styles for small screens (mobile) */

@media (max-width: 480px) {
	.central-dashboard {
		flex-direction: column;
		align-items: center;
	}
	.right-dashboard {
		width: 100%;
		align-items: center;
	}
}

/* Styles for medium screens (tablets) */

@media (min-width: 481px) and (max-width: 768px) {
	.central-dashboard {
		flex-direction: column;
		align-items: center;
	}
	.right-dashboard {
		width: 100%;
		align-items: center;
	}
}

/* Styles for large screens (desktops) */

@media (min-width: 769px) {
}
