.expense-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-button-row {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
}

.header-button-row * {
    margin-right: 5%;
}

.expense-list-header {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.list-of-expenses {     
    height: 75vh;
    width: 50%;
    overflow-y: scroll;
    padding-right: 5%;
    padding-left: 5%;
}

.element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 2px;
    border-bottom: 2px solid gray;
}

.expense-name {
    width: 20%;
    padding-left: 1%;
    padding-right: 1%;
    text-wrap: wrap;
}


.expense-content {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.edit-delete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}

.year-dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
}

.year-content {
    position: absolute;
    top: 100%;
    z-index: 1;
    background-color: white;
}

.year-entry {
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid gray;
}

.year-entry:hover {
    cursor: pointer;
    background-color: gray;
}

.year-entry-text {
    padding-left: 5px;
    padding-right: 5px;
}

.edit-logo img {
    object-position: center;
    object-fit: contain;
    width: 25px;
    height: 25px;
}
