.expense-container {
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-content: center;
	justify-self: center;
}

.expense-title {
	font-weight: bold;
}

.expense-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 500px;
	overflow-y: scroll;
}

.expense-list .expense-list-header {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-weight: bold;
}

.expense-list-header * {
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.expense-list-body .item {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.45rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.item * {
	width: 20%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.date-container {
	display: flex;
	justify-content: space-evenly;
	cursor: pointer;
	background: none;
	border: none;
	font-weight: bold;
	font-size: 1rem;
}

.sort-icon {
	transition: 0.25s cubic-bezier(1, 0, 0, 1);
}

.rotate-icon {
	transform: rotate(180deg);
}

.item td {
	/* display: flex; */
	height: 10px;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.edit-logo {
	margin-right: 10px;
	min-width: 10%;
	width: 10%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: none;
	border: none;
}

.edit-logo:hover {
	cursor: pointer;
}

.edit-logo img {
	object-position: center;
	object-fit: contain;
	min-width: 20px;
	min-height: 20px;
	width: 1em;
	height: 1em;
}

.disabled-button {
	opacity: 0.5;
}

.disabled-button:hover {
	cursor: not-allowed;
}

.expense-filters {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.expense-filters .filter {
	cursor: pointer;
	background-color: gray;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
	transition: all 0.15s ease-in-out;
}

.expense-filters .filter:hover {
	background-color: lightgray;
}

.expense-filters .filter span {
	padding-left: 10px;
	padding-right: 10px;
}

.year-dropdown {
	position: fixed;
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 50px;
	overflow-x: hidden;
}

.year-dropdown .item {
	justify-content: center;
	text-align: center;
	background-color: green;
	padding: 5px;
}

.year-dropdown .item:hover {
	cursor: pointer;
	background-color: gray;
}

.month-dropdown {
	position: fixed;
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 50px;
	overflow-x: hidden;
}

.month-dropdown .item {
	justify-content: center;
	text-align: center;
	background-color: green;
	padding: 5px;
}

.month-dropdown .item:hover {
	cursor: pointer;
	background-color: gray;
}

.red-text {
	color: red;
}

.bottom-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.new-expense-button {
	width: 25%;
	justify-self: center;
	align-self: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.delete-mode-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.total-amount-container {
	display: flex;
	flex-direction: row-reverse;
}

/* Styles for small screens (mobile) */
@media (max-width: 480px) {
	.expense-container {
		width: 95%;
	}
}

/* Styles for medium screens (tablets) */
@media (min-width: 481px) and (max-width: 768px) {
	.expense-container {
		width: 85%;
	}
}

/* Styles for large screens (desktops) */
@media (min-width: 769px) {
}

/*.expense-list-header {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.expense-list-header * {
	text-align: center;
}

.expense-list-header .date-container {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

.expense-list-header .sort-icon {
	transition: 0.25s cubic-bezier(1, 0, 0, 1);
	width: 20%;
	height: auto;
}

.expense-list-header .rotate-icon {
	transform: rotate(180deg);
}

.expense-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow-y: scroll;
	height: 500px;
	margin-top: 10px;
}

.expense-list .item {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-wrap: wrap;
}

.item .text {
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}

.item .grow {
	flex-grow: 2;

*/
