.navbar {
	display: flex;
	padding: 1em;
	border-bottom: solid 1px gray;
	flex-direction: row;
	align-items: center;
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

a.active {
	font-weight: bold;
}

.navbar-title {
	font-size: 1.5em;
	letter-spacing: 0px;
	margin-right: 2%;
	font-weight: bold;
}

.nav-item {
	margin-inline: 2%;
	padding-inline: 1%;
}

.nav-link {
	transition: 50ms ease-in;
}

.nav-link:hover {
	color: darkslategray;
}

.nav-active {
}
